body {
  background-image: url('../images/elemanatry-school-paper.gif');
}

#name {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
}

#title {
  position: relative;
  top: 25px;
  left: 410px;
  text-align: center;
  font-size: xx-large;
}

.words {
  padding: 0;
  background: transparent;
  font-size: xx-large;
  left: 0%;
  margin-top: 2%;
  width: 1352px;
  border-style: none;
}

